<div class="card mt-3">
  <div class="card-header fw-bold">
    Informasi Dashboard
    <a href="/admin/informasi?lokasi=dashboard_admin" class="btn btn-sm btn-primary float-end">
      Edit Informasi
    </a>
  </div>

  <div class="card-body">
    <% if (infoDashboard.length === 0) { %>
      <p class="text-muted">Belum ada informasi.</p>
    <% } else { %>
      <% infoDashboard.forEach(item => { %>
        <div class="mb-3">
          <%= item.keterangan %>
        </div>
      <% }) %>
    <% } %>
  </div>
</div>
