<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div style="height: 100px; background-color: #fd890d;"></div>

    <div class="container-fluid d-flex justify-content-end m-0 p-0 mb-3">
        <div class="role top-0 end-0">
            <div class="card-body">
              <h5 class="card-title ">Role: Mahasiswa</h5>
              <h5 class="card-subtitle"><%= npm %></h5>
            </div>
        </div> 
    </div>      
      
    <div class="container-fluid m-0 p-0 mb-5 text-center">
        <h1>Halaman Daftar Ujian Akhir Profesi</h1>
    </div> 
      
    <div class="container">
        <div class="card p-1">
            <div class="card-body">
                <div col>
                    <div class="row h5">
                        <div class="col-3">Nama</div>
                        <div class="col-1">:</div>
                        <div class="col-6 text-black-50"><%= nama %></div>
                    </div>
                    <!-- Lainnya sama seperti di atas -->
                </div>
            </div>
        </div>
    </div> 

    <div class="container mt-5">
        <h3 class="fw-bold">Silakan upload berkas di sini</h3>            
    </div>

    <div class="container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <table class="table table-bordered h3 text-center fw-semibold">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Syarat Berkas</th>
                    <th>Upload</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Artikel</td>
                    <td><input type="file" name="berkas1" class="form-control"></td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>Persetujuan Pembimbing</td>
                    <td><input type="file" name="berkas2" class="form-control"></td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Daftar Jadwal Pembimbing</td>
                    <td><input type="file" name="berkas3" class="form-control"></td>
                  </tr>
                </tbody>
            </table> 
            <button type="submit" class="btn btn-primary">Upload Semua</button>
        </form>
    </div>
</body>
</html>
