<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="Bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>  
    <div style="height: 75px; background-color: #fd890d;"></div>      
    <div style="height: 50px;"></div>      

    <div class="container-fluid text-center mb-3">
        <h1>Selamat Datang <br>Silakan pilih status Anda</h1>
    </div> 
      
    <div class="container d-flex justify-content-center">
        <div class="text-start my-2">
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="mahasiswa">
                <label class="form-check-label" for="flexRadioDefault1">
                <h2>Mahasiswa</h2>
                </label>
            </div>
            
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="admin" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                <h2>Admin</h2>
                </label>
            </div>
    
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="kaprodi" checked>
                <label class="form-check-label" for="flexRadioDefault3">
                <h2>Kaprodi</h2>
                </label>
            </div>
        </div>
    </div>
    
    <div class="container mb-4">
        <div class="col d-flex justify-content-center">
            <button id="submitBtn" class="btn btn-primary">Masuk</button>
        </div>
    </div>
    
    

</body>
</html>